# Dependencias
backend/node_modules/
backend/streaming-platform/backend/node_modules/

# Media local
backend/backend/media/
frontend/assets/thumbnails/

# Opcional: archivos grandes de video
*.mp4

# Variables de entorno locales
backend/.env
backend/.env.*